@tailwind base;
@tailwind components;
@tailwind utilities;
body,html{
    overflow-x: hidden;
}


a.active::before{
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(34 197 94);
}
a.active{
    color: rgb(34 197 94);
}
.menu a.active{
    font-weight: bold;
    border-left: 10px solid rgb(34 197 94);
    background-color: aliceblue; 
}
.nav.open{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: white;
    height: 100VH;

    transition: all 0.3s ease-out;
}
.nav {
    position: absolute;
    width: 100%;
    left:-100%;
    top: 0;
    background-color: white;
    z-index: 2;
    transition: all 0.3s ease-out;
    display: none;
    margin: 0 !important;
    z-index: 20;
    height: 100VH;
    

}

@media (max-width:991px){
    .nav{
        display: block;
    }
    .nav.open{
        width: 400px;
    }
}

.cart {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: white;
    z-index: 2;
    transition: all 0.3s ease-out;
    border-left: 2px solid black;
    z-index: 20;

}
.cart.open{
    right: 0;
    top: 0;
    background-color: white;
    margin: 0 !important;
    transition: all 0.3s ease-out;
    height: 100vh;
}
@media (min-width:767px){
    .cart.open{
        width: 400px;
    }
}
input:focus-visible{
    outline: none ;
}

.search{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    gap: 20px;
    font-size: 20px;
    transition: all 0.3s ease-out;
    border-bottom: 2px solid black;
    z-index: 20;
}
.search.open{
    top: 0;
}
.search input{
    width: 100%;
}

.fix{
    margin-left: 0 !important;
}



.swiper {
    width: 100%;
    /* height: calc(100vh - 80px); */
  }

  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  @media (max-width:991px){
      .swiper-slide img{
            aspect-ratio: 19/9;
      }
  }
  .contain{
    object-fit: contain !important;
  }